
.app-header {
  font-size:1rem;
  user-select: none;
  position: fixed;
  top: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.app {
  padding: 5rem;
}


.country {
  color: var(--word-color);
  font-size: 1.2em;
  user-select: none;
  width: fit-content;
}

.country > button {
  font-size: 1em;
}

@media screen and (min-width: 600px) {
  .app-header {
    font-size: 3rem;
  }
}