:root {
  --main-bg-color: #242424;
  --main-color: #242424f8;
  --text-color: #f0f0f0;

  font-family: "Raleway";
  font-size: 12pt;
  color: var(--text-color);
  background-color: var(--main-bg-color);
}
* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}